{% extends 'partials/base.html' %}
{% block title %}로그아웃{% endblock title %}

{% block content %}
  <h1></h1>
  <br>

  <div style="text-align: center;">
    <i class="bi bi-emoji-frown"></i>
    <span class="h3">방문해 주셔서 감사합니다. 홈페이지 로그아웃이 되었습니다.</span>
    <i class="bi bi-emoji-frown"></i>
  </div>
  <br>
  <p class="font-italic h3" style="text-align: center;"><a href="{% url 'login'%}">Log in again</a></p>
  <p class="font-italic h3" style="text-align: center;"><a href="{% url 'index'%}">처음으로</a></p>
{% endblock content %}