{% extends "partials/base.html" %}
{% block title %}글 삭제 - {{ object.pk }}{% endblock %}
{% load crispy_forms_tags  %}

{% block top-title %}
<h1>메모글 삭제</h1>
<p>by {{ user }}</p>
{% endblock top-title %}

{% block content %}
  <form action="" method="post">
    {{object}} {% csrf_token %}
    <br>
    <br>
    <p>정말 삭제 하겠습니까?</p>
    <input type="submit" value="삭제" class="btn btn-danger btn-sm">
    <a class="btn btn-danger btn-sm" type="button" href="{% url 'community:change_list' %}">취소</a>
  </form>
  
{% endblock content %}