{% extends "partials/base.html" %}
{% load static %}
{% block title %}수정 가능한 목록{% endblock %}

{% block part_style %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block top-title%}
<h1>내 글 관리 <h6 style="font-style: italic;">by.{{user}}</h6></h1>
{% endblock top-title%}
{% block content %}
  <div class="article_box">
    <table class="table table-bodered table-condensed table-striped">
      <tr class="table-primary">
        <th>제목</th>
        <th>이름</th>
        <th>작성날짜</th>
        <th>수정</th>
        <th>삭제</th>
      </tr>
      
      {% for article in article_list %}
        <tr>
          <td><a href="{% url 'community:view_detail' article.id %}">{{ article.title }}</a></td>
          <td>{{ article.name }}</td>
          <td>{{ article.cdate|date:"Y년 M d일 D" }}</td>
          <td><a href="{% url 'community:update' article.id %}">수정</a></td>
          <td><a href="{% url 'community:delete' article.id %}">삭제</a></td>
        </tr>  
      {% endfor %}      
    </table>
  </div>
{% endblock content %}