{% extends 'partials/base.html' %}

{% block title %}
COMMUNITY
{% endblock title %}

{% block top-title %}
COMMUNITY
{% endblock top-title %}

{% block content%}
<table class="table table-striped">
    <thead>
        <th scope="col">title</th>
        <th scope="col">name</th>
        <th scope="col">date</th>
    </thead>
    <tbody>
        {% for article in article_list %}
        <tr>
            <th scope="row"><a href="{% url 'community:view_detail' article.id %}" class="link-danger">{{article.title}}</a>
            </th>
            <td>{{article.name}}</td>
            <td>{{article.cdate|date:"Y년 M d일 D"}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button type="button" class="btn btn-warning" onclick="location.href='/community/write/'" style="float: right;">글
    작성</button>
<br>
{% endblock content%}
