{% extends  'partials/base.html' %}
{% block title %}
DETAIL
{% endblock title %}

{% block top-title %}
DETAIL
{% endblock top-title %}

{% block content%}
    <table border="1">
        <tr>
            <td>no</td>
            <td>{{article.pk}}</td>
        </tr>
        <tr>
            <td>title</td>
            <td>{{article.title}}</td>
        </tr>
        <tr>
            <td>name</td>
            <td>{{article.name}}</td>
        </tr>
        <tr>
            <td>contents</td>
            <td>{{article.contents|linebreaksbr}}</td>
        </tr>
        <tr>
            <td>email</td>
            <td>{{article.email}}</td>
        </tr>
    </table>
    {% if user.is_active %}
        <a type="button" href="{%url 'community:update' article.id %}">수정</a>
        <a type="button" href="{%url 'community:delete' article.id %}">삭제</a>
    {% endif %}
{% endblock content%}