<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{data}}</h1>
    <hr>
    <br>
        <form action="" method="post">
            <table>
                {{form}} {% csrf_token %}
            </table>
            <br>
            <hr>
            <p><button type="sumbit">확인</button></p>
        </form>

    <button onclick="location.href='/community/list/'">조회</button>
</body>
</html>