{% extends  'partials/base.html' %}

{% block title %}
HOME
{% endblock title %}

{% block top-title %}
HOME
{% endblock top-title %}


{% block content%}
<div class="container">
    <table class="table table-striped">
        <thead>
            <th scope="col">title</th>
            <th scope="col">name</th>
            <th scope="col">date</th>
        </thead>
        <tbody>
            {% for article in index_page %}
            <tr>
                <th scope="row"><a href="/community/view_detail/{{article.id}}"
                        class="link-danger">{{article.title}}</a></th>
                <td>{{article.name}}</td>
                <td>{{article.cdate|date:"Y년 M d일 D"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-warning" onclick="location.href='/community/write/'"
        style="float: right;">메모하기</button>
    <br>

</div>

{% endblock content%}